header{
  background: rgb(229, 229, 226);
position: fixed;
width: 100%;
top: 0;
left: 0;
}
#welcome-section{
  background-color:grey;
  top:0px;
  width:100%;
   padding-top: 0px;
margin-top: 0px;
display: block;
height: 100vh;
}
h1{
 position: absolute;
  top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
h3{
  color: darkblue;
  position: absolute;
  top: 50%;
    left: 60%;
    margin-right: -60%;
    transform: translate(-60%, -40%)
}
#projects{
  background-color: rgb(229, 229, 226);
  padding-top: 20px;
  width:100%;
  height:400px;
}

.card{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding:10px;
  padding-right: 20px;
}
.services-cards{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-top: 20px;
  margin-left:30px;
  margin-bottom: 90px;
  
}
#services-cards{
  justify-content:space-around;
}
#education-section{
background-color: black;
color: white;

}
.education{
  padding-top: 20px;
  margin-left: 3rem;
}
h2{
  color:rgba(26, 145, 214, 0.863);
}
.contact-info{
width: 100%;
height:200px;
}
@media only screen and (max-width: 600px) {
body {
  background-color: lightblue;
}
}